@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@300;400&family=Ubuntu:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #EBECEF;
}

h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.other-box {
  background-color: #fff;
  border-radius: 0.5rem;
}

span {
  color: #888;
  font-size: 0.85rem;
}

picture img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.contenedor {
  margin: 1.25rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 2rem;
}
.contenedor .nav {
  width: 100%;
  background-color: #fff;
  height: 4rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  grid-column-start: 1;
  grid-column-end: -1;
}
.contenedor .nav .navegation a {
  text-decoration: none;
  color: #000;
  margin-left: 1rem;
}
.contenedor .nav .navegation a:hover {
  color: darkgray;
  border-bottom: 2px solid darkgray;
}
.contenedor .face {
  grid-row: span 3;
  grid-column: span 2;
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.contenedor .face h3 {
  padding: 1rem;
}
.contenedor .face .clasificated {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.contenedor .face .clasificated p {
  margin-right: 1rem;
}
.contenedor .face .clasificated picture {
  margin-right: 1rem;
}
.contenedor .face .jodon {
  display: flex;
  align-items: center;
}
.contenedor .face .jodon .spabi {
  padding: 1rem;
}
.contenedor .face .jodon .promo {
  text-decoration: none;
  color: rgb(134, 0, 27);
  background-color: rgba(255, 0, 0, 0.329);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.7rem;
}
.contenedor .face .conjunto {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contenedor .face .conjunto .desarrollo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}
.contenedor .face .conjunto .desarrollo img {
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.contenedor .face .conjunto .desarrollo .parrafito {
  padding: 0 1rem;
  text-align: center;
}
.contenedor .face .reactions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 3rem;
  margin: auto;
}
.contenedor .face .reactions button {
  border: 2px solid lightgreen;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.contenedor .face .reactions .save:hover {
  background-color: lightgreen;
}
.contenedor .face .reactions .send {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s;
}
.contenedor .face .reactions .send .iconico {
  border-left: 1px solid #000;
}
.contenedor .face .reactions .send:hover {
  background-color: #fff;
}
.contenedor .sidebar {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
.contenedor .sidebar .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor .sidebar .search > input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.contenedor .sidebar .result {
  display: flex;
  flex-direction: column;
}
.contenedor .sidebar .result .peoples {
  width: 100%;
  padding-left: 2rem;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contenedor .typography {
  grid-row-start: 3;
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.contenedor .typography > select {
  border: none;
  width: 70%;
  margin: 1rem 0;
}
.contenedor .typography .other-options {
  display: flex;
  flex-direction: column;
}
.contenedor .typography .other-options .size-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor .typography .other-options .size-options > p {
  font-size: 0.8rem;
}
.contenedor .typography .other-options .size-options .opn-1 {
  display: flex;
  flex-direction: column;
}
.contenedor .typography .other-options .size-options .opn-1 > select {
  border: none;
  margin-top: 0.5rem;
}
.contenedor .typography .other-options .spacing {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenedor .chats {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.contenedor .chats .img-chats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.contenedor .chats .new-message {
  display: flex;
  justify-content: space-between;
}
.contenedor .chats .new-message > input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 80%;
}
.contenedor .chats .new-message .opn-src {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.contenedor .chats .new-message .opn-src > a {
  color: gray;
}/*# sourceMappingURL=styles.css.map */